* {
  box-sizing: border-box;
  margin: 5px;
  background-color: #c8e4fd;
}

h1 {
  padding: 1%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

a {
  text-decoration: none;
  color: #EB8713
}

a:hover {
  color: rgb(238, 100, 50);
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  align-items: center;
}

.cart {
  background: #EB8713;
  padding: 30px;
  color: rgb(238, 100, 50)
}

img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
  margin-right: 10px;
}

.productCard {
  display: flex;
  height: 200px;
  width: auto;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.singleProduct {
  display: row;
  color: rgb(238, 100, 50)
}

nav a {
  display: row;
  padding: 14px 16px;
  font-size: 17px;
  justify-self: center;
  /* background-color: #c8e4fd */
}

button {
  padding: 0.5em 1em;
  background-color: #EB8713;
  color: white;
  font-size: 1em;
  transition: all 0.1s ease;
  border-radius: 10px;
}

button:hover {
  background-color:rgb(238, 100, 50);
}

.allNavLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  justify-content: flex-start;
}

.cartLink {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
}

.cartIcon {
  max-height: 35px;
  max-width: auto;
  margin-right: none;
}

.warning {
  font-size: 10px;
  color: red;
}

/* Cart Component */
#cartComponent {
  /* display: flex;
  justify-content: space-between; */
  color: rgb(238, 100, 50)
  
}

#table-header {
  font-size: 12px;
  color:rgb(238, 100, 50);
  font-weight: bold;
}

.cart-row {
  vertical-align: middle;
  border-bottom: 1px solid grey;
}

/* .checkoutSection {
  position: absolute;
  right: 0px;
  width: 320px;
} */

table {
  border-collapse: collapse;
  width: 100%;
}

.cart-item-img {
  max-width: 150px;
}

.minus-quantity-button {
  padding: 0.25em 0.6em;
  border-radius: 50%;
}

.plus-quantity-button {
  padding: 0.25em 0.5em;
  border-radius: 50%;
}

.orderConfirmation {
  color: rgb(238, 100, 50)
}

#logo {
  size: 200x;
  display: flex;
  align-content: center
}
