* {
  box-sizing: border-box;
  margin: 5px;
}

h1 {
  padding: 1%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: gray;
  transition: color 0.5s ease;
}

a:hover {
  color: black;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  align-items: center;
}

.cart {
  background: #4571eb;
  padding: 30px;
}

img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
  margin-right: 10px;
}

.productCard {
  display: flex;
  height: 200px;
  width: auto;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singleProduct {
  display: row;
}

nav a {
  display: row;
  padding: 14px 16px;
  font-size: 17px;
  justify-self: center;
}

button {
  padding: 0.5em 1em;
  background-color: #4571eb;
  color: white;
  font-size: 1em;
  transition: all 0.1s ease;
  border-radius: 10px;
}

button:hover {
  background-color: #95b4e2;
}

.allNavLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  justify-content: flex-start;
}

.cartLink {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
}

.cartIcon {
  max-height: 35px;
  max-width: auto;
  margin-right: none;
}

/* Cart Component */
#cartComponent {
  /* display: flex;
  justify-content: space-between; */
}

.table-header {
  font-size: 12px;
  /* display: flex;
  justify-content: space-between; */
}

.checkoutSection {
  position: absolute;
  right: 0px;
  width: 320px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.cart-item-img {
  max-width: 150px;
}
